body {
    margin: 0;
}

body, input, textarea, button, select {
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
    padding: 0;
}

a{
    text-decoration: none;
}

.header__top, .header__bottom, .header__top-setting, .header__top-offer, .header__top-contact, .language, .phone, .email, .currency, .menu__ul, .left-menu, .right-menu {
    display: flex;
    flex-direction: row ;
    align-items: center;
}

.header__top {
    justify-content: space-between;
    align-items: center;
    height: 42px;
    background-color: #272727;
    padding: 0 15px;
    font: 400 13px/20px Roboto, sans-sefir;
    letter-spacing: 1px;
}

.header__top-setting {
    padding: 0 15px;
}

.header__top-text, .phone__number, .email__addres {
    margin: 0;
}

.header__top-contact {
    padding-right: 15px;
}

.language, .currency, .header__top-offer, .phone, .email {
    color: #fff;
}

.language, .currency, .sale, .phone, .email {
    cursor: pointer;
}

.language:hover, .currency:hover, .phone:hover, .email:hover {
    color: #ff8149;
}

.language, .currency {
    margin-right: 15px;
}

.language::after, .currency::after, .phone::after {
    content: "";
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.sale {
    color: #ff8149;
}

.sale:hover {
    color: #fff;
}

.phone {
    padding-right: 8px;
}

.phone__number {
    margin-right: 8px;
}

.mdi-odnoklassniki{
    transition: all 400ms ease-in-out 0s;
    font-size: 16px;
}

.mdi-odnoklassniki:hover {
    transform: rotateY(180deg);
}

.header__top .mdi-chevron-down {
    padding-right: 15px;
}

.currency__flag {
    width: 16px;
    height: 16px;
    background-image: url(/img/flag_usa.png);
    background-repeat: no-repeat;
    margin-right: 5px;
}

.header__bottom {
    padding: 0 30px;
    height: 70px;
    font: 600 16px/18px Cormorant, sans-sefir;
    letter-spacing: 1px;
    justify-content: space-between;
}

.header__burger {
    width: 15px;
    height: 2px;
    background-color: #111;
    position: relative;
    margin-right: 15px;
}

.header__burger::before, .header__burger::after {
    content: "";
    width: 15px;
    height: 2px;
    background-color: #111;
    position: absolute;
}

.header__burger::before {
    top: 5px;
}

.header__burger::after {
    bottom: 5px;
}

.header__logo-img {
    vertical-align: bottom;
}

.menu__item {
    margin: 0 2px;
    transition: all 400ms ease-in-out 0s;
}

.menu__item:hover>.menu__item-link::after {
    transform: rotate(-180deg);
}

.menu__item-link {
    color: #111;
    position: relative;
    padding: 8px 18px;
}
 
.menu__item-link::after {
    content: '\F0140';
    height: 20px;
    width: 20px;
    font-size: 16px;
    line-height: 22px;
    font-family: "Material Design Icons";
    font-style: normal;
    position: absolute;
    left: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    transition: all 400ms ease-in-out 0s;
}

.menu__item-stock {
    background-color: #222;
    color: #fff;
    float: left;
    width: auto;
    padding: 2px 5px;
    font-size: 10px;
    line-height: 14px;
    position: absolute;
    top: -8px;
    margin: 0 3px;
    font-weight: 600;
    font-family: 'Roboto';
}

.right-menu {
    font: 400 13px/20px Roboto;
}

.rigth-menu__search {
    cursor: pointer;
    margin-right: 30px;
}

.rigth-menu__search:hover>.rigth-menu__search-magnify, .rigth-menu__cart:hover>.rigth-menu__cart-basket {
    transform: rotateY(180deg);
}

.rigth-menu__search-magnify {
    width: 14px;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    transition: all 400ms ease-in-out 0s;
    vertical-align: bottom;
}

.rigth-menu__search-text {
    font: 400 13px/20px Roboto;
    vertical-align: top;
}

.rigth-menu__account {
    margin-right: 30px;
}

.rigth-menu__account .mdi-chevron-down {
    vertical-align: top;
    font-size: 16px;
}

.rigth-menu__cart-basket {
    width: 20px;
    height: 20px;
    vertical-align: top;
    transition: all 400ms ease-in-out 0s;
}

.rigth-menu__cart, .rigth-menu__account {
    cursor: pointer;
}

.rigth-menu__cart-count-wrapper {
    display: inline-block;
    width: auto;
    vertical-align: top;
    float: none;
    text-align: center;
}

.rigth-menu__cart-count {
    color: #fff;
    background-color: #222;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    font-size: 12px;
    line-height: 18px;
    float: left;
}

.main-content__section {
    width: 100%;
    margin: 0 0 80px;
}

.slider {
    overflow: hidden;
    position: relative;
}

.slider__list {
    display: flex;
    margin: 0;
    transition: all 400ms ease-in-out 0s;
}

.slider__element {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    display: inline-block;
}

.slider__img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.slider__button-next, .slider__button-prev {
    position: absolute;
    top: 50%;
}

.slider__control {
    opacity: 0;
    transition: all 400ms ease-in-out 0s;
    cursor: not-allowed;
}

.slider:hover .slider__control {
    opacity: 1;
}

.slider__button-prev {
    left: 30px;
}

.slider__button-next {
    right: 30px;
}

.slider__control .mdi {
    font-size: 40px;
    line-height: 40px;
    color: #666;
}

.slider__button_show .mdi{
    cursor: pointer;
    color: #111;
}

.slider__content {
    position: absolute;
    left: 10%;
    bottom: 34%;
    text-align: center;
    width: 30%;
}

.slider__content_subtitle {
    font: 400 18px/20px Roboto, sans-serif;
    margin: 0 0 20px;
    animation: 1700ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.slider__content_title {
    color: #222;
    font: 600 62px/70px Cormorant, sans-serif;
    margin: 0 0 25px;
    animation: 1500ms ease-in-out 0s normal none 1 running fadeInLeft;
}

.slider__content_button {
    border-color: #272727;
    border-bottom: 1px solid;
    display: inline-block;
    animation: 1900ms ease-in-out 0s normal none 1 running fadeInLeft;
    transition: all 400ms ease-in-out 0s;
}

.slider__content_button:hover {
    border-color: #fff;
}

.slider__content_button-link {
    display: inline-block;
    color: #fff;
    background-color: #272727;
    font: 600 16px/20px Cormorant, sans-serif;
    margin: 0 0 5px;
    transition: all 400ms ease-in-out 0s;
    position: relative;
    z-index: 1;
}

.slider__content_button-link:hover {
    color: #111;
    text-decoration: none;
}

.slider__content_button-link::after {
    content: '';
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    z-index: -1;
    background-color: #fff;
    transition: .3s cubic-bezier(.785, .135, .15, .86);
}

.slider__content_button-link:hover::after {
    width: 100%;
    right: auto;
    left: 0;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width: 1599px) {
    .slider__content_title {
        font-size: 52px;
        line-height: 60px;
    }
}

@media screen and (max-width: 1459px) {
    .slider__content_title {
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 1299px) {
    .slider__content_subtitle {
        margin: 0 0 10px;
        font-size: 16px;
        line-height: 18px;
    }

    .slider__content_button-link {
        font-size: 14px;
        padding: 10px 24px;
    }
}


@media screen and (max-width: 1199px) {
    .slider__content_subtitle {
        font-size: 14px;
        line-height: 16px;
    }

    .slider__content_title {
        font-size: 34px;
        line-height: 42px;
    }
}

@media screen and (max-width: 991px) {
    .slider__content_title {
        font-size: 28px;
        line-height: 34px;
    }
}
